.hero--front-page {
  padding-top: 125px;
  padding-bottom: 100px;
  background: transparent url(../images/bg/hero@1x.jpg) no-repeat top left;
  background-size: cover;

  @supports (clip-path: $clip-path-bottom-arrow) {
    clip-path: $clip-path-bottom-arrow;
  }

  .pt {
    svg {
      width: 100px;
      height: 100px;
    }
  }

  .hero__title {
    font-weight: 900;
  }

  .hero__subtitle {
    text-transform: uppercase;
  }
}
